<!DOCTYPE html>
<html>
<head>
<title>Driver Insurance</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Driver Insurance Registration</h1>

<form id="driverForm">

<label>Name</label>
<input type="text" id="name" required>

<label>Age</label>
<input type="number" id="age" required>

<label>Location (Mumbai Area)</label>
<input type="text" id="location" required>

<label>Daily Income</label>
<input type="number" id="income" required>

<label>Shift Timing</label>
<input type="text" id="shift">

<label>Night Shift</label>
<select id="nightShift">
<option value="yes">Yes</option>
<option value="no">No</option>
</select>

<br><br>

<button type="submit">Calculate Insurance</button>

</form>

</div>


<script type="module" src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>